<div class='section-container'>
  <div class='head'>
    <div class='title'>
      <h5>{{ ratingText.module.title }}</h5>
      <div class='btn-toggle'>
        <i 
        class='fa fa-question-circle'
        ng-if='ratingText.module.description' 
        ng-click='ratingText.info=!ratingText.info'></i>
        <i 
        class='fa fa-pencil' 
        ng-click='ratingText.clickRate()'></i>
      </div>
    </div>
    <div 
    class='subtitle'
    ng-if='ratingText.info'>
      <small>{{ ratingText.module.description }}</small>
    </div>
  </div>
  <div 
  class='body' 
  ng-if='ratingText.nav'>
    <div class='textarea-container'>
      <textarea 
      ng-model='ratingText.textarea' 
      placeholder='Enter some text here..'
      value='{{ ratingText.textarea }}'>
      </textarea>
      <div class='cta'>
        <a 
        ng-click='ratingText.updateData(ratingText.textarea)' 
        class='btn secondary shadow contrast'>
          send
        </a>
      </div>
    </div>
  </div>
</div>