<div class='page-container my-channel'>
  <main class='row main'>
    <section class='section overlay-color-light shadow'>
      <div class='section-container'>
        <div class='head'>
          <div class='title'>
            <i class='fa fa-film'></i>
            <h4>My Channel</h4>
          </div>
        </div>
      </div>
    </section>
    <ul class='list' ng-show='vm.videos.length'>
      <li class='list-item' ng-repeat='video in vm.videos track by $index'>
        <a class='list-link' href='./watch?v={{ video.id }}'>
          <div class='list-thb-container'>
            <img alt='{{ video.title }}' class='list-thb' ng-src='{{ video.thb }}' />
          </div>
          <h4 class='list-title' ng-bind-html='video.title | characters: 80'></h4>
          <p class='list-subtitle' ng-bind-html='video.author | characters: 80'></p>
        </a>
      </li>
    </ul>
  </main>
</div>