<div class='search-bar'>
  <input
  type='text'
  name='search'
  class='search-input'
  ng-model='vm.query'
  placeholder='search video..'
  />
  <i class='fa fa-search search-btn'></i>
</div>

<div class='page-container' scrolly='vm.showMore()'>
  <div class='row'>
    <ul class='list' ng-show='vm.videos.length'>
      <li class='list-item' ng-repeat='video in vm.videos track by $index'>
        <a class="list-link" href='./watch?v={{ video.id }}'>
          <div class='list-thb-container'>
            <img class='list-thb' alt='{{ video.title }}' ng-src='{{ video.thb }}' />
          </div>
          <h4 class='list-title' ng-bind-html='video.title | characters: 80'></h4>
          <p class='list-subtitle' ng-bind-html='video.author | characters: 80'></p>
        </a>
      </li>
    </ul>
  </div>
</div>