<div class='video-player'>
  <iframe 
  ng-if='player.vidsrc'
  src='{{ player.vidsrc }}'
  frameborder='0'
  webkitallowfullscreen mozallowfullscreen allowfullscreen
  type='text/html'>
  </iframe>
</div>