// COLORS
$white: #fff;
$black: #000;
$mjorange: #fe8901;
$mjgreen: #00e900;
$mjred: #ff0000;
$dark: #191c1f;
$body_bg: #222;
$body_color: lighten($black,25%);
$primary_color: $mjgreen;
$primary_color_hover: darken($primary_color, 10%);
$secondary_color: $mjorange;
$secondary_color_hover: lighten($secondary_color, 10%);
$success_color: $mjgreen;
$error_color: $mjred;
$form_bg: $white;
$form_color: $body_color;
$placeholder_color: darken($white, 50%);
$popup_bg: $white;
$popup_wrap_bg: rgba($black, 0.5);
$navbar_bg: $white;
$footer_bg: $black;
$footer_color: $white;
$header_color: $black;
$contrast: darken($white,10%);
$high_contrast: darken($white,80%);
$border_color: darken($white,10%);


// FONTS
$body_font: 'Roboto', sans-serif;
$body_font_weight: 400;
$body_font_size: 16px;
$heading_font: 'Roboto Condensed', sans-serif;
$heading_font_weight: 700;
$strong_weight: 600;
$btn_font: 'Roboto', sans-serif;
$btn_font_weight: 900;

// SPACING
$xs: 720px;
$sm: 1020px;
$md: 1200px;
$xl: $md+1;
$gutter: 20px;
$max_width: 60%;
$sidebar_width: 15%;
$navbar_height: 60px;
$navbar_height_sm: 60px;
$navbar_line_height: 50px;
$btn_height: 40px;
$logo_max_height: 35px;
$drawer_width: 280px;

// ANIMATION

$ease: ease;

// RATING MODULES
$slider_container_height: 40px;
$radio_container_height: 40px;
$rating_bar_height: 6px;
$rating_bar_background: $body_bg;

