<div class='page-container'>
  <main class='row main'>
    <section class='section overlay-color-light'>
      <div class='section-container'>
        <div class='head'>
          <div class='title'>
            <i class='fa fa-cloud-upload'></i>
            <h4>Import a Video</h4>
          </div>
        </div>
        <div class='body'>
          <div class='vendor-menu' ng-if='!vm.video'>
            <h2>Choose vendor you wish to import your video from:</h2>
            <ul class='vendor-list'>
              <li class='vendor-item'>
                <a class='vendor-link' ng-click='vm.selectVendor("youtube")'>
                  <i class='fa fa-youtube'></i>
                </a>
              </li>
              <li class='vendor-item'>
                <a class='vendor-link' ng-click='vm.selectVendor("vimeo")'>
                  <i class='fa fa-vimeo'></i>
                </a>
              </li>
            </ul>
          </div>
          <div class='vendor-videos' ng-if='vm.vendorVideos && !vm.video'>
            <ul class='list'>
              <li class='list-item' ng-repeat='video in vm.vendorVideos'>
                <a class='list-link' ng-click='vm.selectVideo(video)'>
                  <div class='list-thb-container'>
                    <img class='list-thb' alt='{{ video.title }}' ng-src='{{ video.thumbnail }}'/>
                    <i class="fa fa-cloud-upload list-thb-icon"></i>
                  </div>
                  <h4 class='list-title' ng-bind-html='video.title | characters: 80'></h4>
                </a>
              </li>
            </ul>
          </div>
          <div class='upload-form' ng-if='vm.video'>
            <div class='table'>
              <div class='left'>
                <ul class='table-row'>
                  <li class='table-cell'>
                    <label>Poster</label>
                    <img ng-src='{{ vm.video.thumbnail }}' />
                  </li>
                </ul>
                <ul class='table-row additional-info'>
                  <li class='table-cell'>
                    <p>Date Published: <span>{{ vm.video.publishedAt }}</span></p>
                  </li>
                  <li class='table-cell'>
                    <p>Vendor: <span class='capitalize'>{{ vm.video.vendor }}</span></p>
                  </li>
                </ul>
              </div>
              <div class='right'>
                <!-- title -->
                <ul class='table-row'>
                  <li class='table-cell'>
                    <label>Title</label>
                    <input
                      type='text'
                      name='title'
                      placeholder='Enter Title..'
                      ng-model='vm.video.title'
                      value='{{vm.video.title}}'
                    />
                  </li>
                </ul>
                <!-- description -->
                <ul class='table-row'>
                  <li class='table-cell'>
                    <label>Description</label>
                    <textarea
                      name='description'
                      placeholder='Enter Description..'
                      ng-model='vm.video.description'
                      value='{{vm.video.description}}'>
                    </textarea>
                  </li>
                </ul>
                <!-- genre -->
                <ul class='table-row'>
                  <li class="table-cell">
                    <label>Genre</label>
                    <select
                      name='genre'
                      ng-model='vm.video.genre'
                      ng-init='vm.video.genre="default"'
                      value='{{vm.video.genre}}'>
                        <option
                          value='default'
                          selected='selected'>
                            Select Genre
                        </option>
                        <option
                          value='{{genre.slug}}'
                          ng-repeat='genre in vm.genres'>
                            {{genre.name}}
                          </option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
            <div class='cta'>
              <btn title='upload' class='btn primary' event='vm.uploadVideo(vm.video)'></btn>
              <button class='btn secondary' ng-click='vm.cancelUpload()'>cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>