.custom-message {
  @include border-radius();
  @include box-shadow(0px, 2px, 4px, rgba($black, 0.5));
  position: fixed;
  display: block;
  right: $gutter;
  bottom: $gutter;
  width: 300px;
  padding: $gutter;
  z-index: 9999;
  background-color: $white;
	
  &:before {
    @include icon();
    position: absolute;
    top: 18px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: inherit;
  }
	
  &.error {
    color: $error_color;

    &:before {
      content: "\F119";
    }
  }
  
  &.success {
    color: $success_color;
    
    &:before {
      content: "\F164";
    }
  }
  
  &.animate-if.ng-enter, 
  &.animate-if.ng-leave {
    @include transition(all, .2s, ease);
  }
  /* du début de l'entrée */
  &.animate-if.ng-enter {
    @include opacity(0);
    @include transform(translateY(200px))
  }
  /* à la fin de l'entrée */
  &.animate-if.ng-enter.ng-enter-active {
      @include opacity(1);
      @include transform(translateY(0))
  }
  /* du début de la sortie */
  &.animate-if.ng-leave {
    @include opacity(1);
    @include transform(translateY(0))
  }
  /* à la fin de la sortie */
  &.animate-if.ng-leave.ng-leave-active {
    @include opacity(0);
    @include transform(translateY(200px))
  }
}

.custom-message span {
  display: inline-block;
  max-width: 100%;
  padding-left: 30px;
  margin: 0;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: $black;
  word-wrap: break-word;
}

.custom-message .exit {
  position: absolute;
  right: 3px;
  top: 2px;
  font-size: 18px;
  cursor: pointer;
  color: darken($white,20%);
}

