.rating-module-radio {
  text-align: left;
}

.rating-radio-results-list > li {
  display: block;
  position: relative;
  text-align: left;
}

.rating-module-radio .btn {
  @include border-radius();
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  text-align: left;
  color: $body_bg !important;
  border-color: $body_bg !important;
  
  
  &:last-child {
    margin-bottom: 0;
  }
}

.rating-module .btn .fa {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}

.rating-module.rating-module-radio .result-name {
  font-size: $body_font_size - 3;;
  text-transform: capitalize;
}

.rating-module.rating-module-radio .result-number .int {
  font-size: $body_font_size - 3;
}

.rating-module.rating-module-radio .result-number .pourcent {
  font-size: $body_font_size - 3;
}