.rating-module-slider .nav-slider {
  @extend .clearfix;
  position: relative;
  display: block;
}

.angular-multi-slider {
  display: block;
  position: relative;
  height: $slider_container_height;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.angular-multi-slider div {
  white-space: nowrap;
  position: absolute;
}

.angular-multi-slider .bar {
  @extend .mj-gradient;
  position: relative;
  width: 100%;
  height: $rating_bar_height;
  margin-top: ($slider_container_height - $rating_bar_height) / 2;
  
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content:'';
  }
}

.angular-multi-slider .handle {
  @include border-radius(100%);
  @include transition('background-color',.2s,ease);
  @include box-shadow(0, 1px, 3px, rgba($black,.25));
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0;
  background-color: $white;
  z-index: 999;
  
  &:after {
    content: '';
    width: 999px;
    height: $rating_bar_height;
    position: absolute;
    left: 20px;
    top: 7px;
    background-color: $rating_bar_background;
  }
  
  &:before {
    @include border-radius(100%);
    @include transform(scale(.5));
    @include box-shadow(0, 1px, 3px, rgba($black,.25), 'inset');
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    background-color: darken($white,10);
  }
}

.angular-multi-slider .handle:hover + .bubble,
.angular-multi-slider .handle:focus + .bubble,
.angular-multi-slider .handle.grab + .bubble,
.angular-multi-slider .handle:hover,
.angular-multi-slider .handle:focus,
.angular-multi-slider .handle.grab {
  z-index: 99;
}

.angular-multi-slider .bubble {
  @include transition('top',.1s,ease);
  display: none;
  cursor: default;
  top: -36px;
  padding: 1px 3px;
  z-index: 100;
}

.angular-multi-slider-key .key span,
.angular-multi-slider div.bubble.active {
  display: inline-block;
  color: #fff;
  font-size:12px;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  border-radius: 8px;
  padding: 3px 8px;
}

.angular-multi-slider .limit {
  display: none;
}

.angular-multi-slider-key .key span {
  border: 1px solid #000;
}


.rating-module.rating-module-slider .result-container {
  margin-top: 0;
}