.rating-module-text {
  textarea:focus + .cta {
    @include opacity(1);
    max-height: 100px; 
  }
}

.rating-module-text .textarea-container {
  @include border-radius();
  position: relative;
  display: block;
  background-color: $white;
  text-align: right;
  overflow: hidden;
}

.rating-module-text textarea {
  @include border-radius(0);
  display: block;
  padding: $gutter/2;
  min-height: 125px;
  text-align: left;
  background-color: darken($white, 5%);
}

.rating-module-text .cta {
  @include opacity(0);
  @include transition(all,.2s,ease);
  max-height: 0;
  display: block;
  padding: 0;
  border-top: 1px solid darken($white, 15%);
  background-color: darken($white, 5%);
  text-align: right;
  overflow: hidden;
}

.rating-module-text .btn {
  margin: $gutter/2;
  padding: 0 $gutter/1.5;
  height: 30px;
  line-height: 28px;
}