.rating-module {
  @include transition();
  display: block;
  height: auto;
  max-height: 9999px;
  margin-bottom: $gutter;
}

.rating-module .result-container {
  display: block;
  position: relative;
  height: $radio_container_height;
  padding-top: ($radio_container_height/2 - $rating_bar_height/2);
  margin-top: -15px;
}

.rating-module .title {
  position: relative;
  padding-right: 63px;
}

.rating-module .subtitle {
  @include border-radius();
  margin-top: $gutter;
  padding: $gutter;
  background-color: #eee;
}

.rating-module .result-graph-container {
  @extend .mj-gradient;
  position: relative;
  display: block;
  height: $rating_bar_height;
  width: 100%;
  overflow: hidden;
}

.rating-module .result-graph {
  display: block;
  position: relative;
  height: $rating_bar_height;

  &:after {
    position: absolute;
    left: 100%;
    top: 0;
    width: 99999px;
    height: $rating_bar_height;
    content: '';
    background-color: $rating_bar_background;
  }
}

.rating-module .result-number {
  display: inline-block;
  line-height: inherit;
  font-size: 0;
}

.rating-module .result-number .int {
  display: inline-block;
  vertical-align: bottom;
  font-weight: $body_font_weight;
  font-size: $body_font_size;
}

.rating-module .result-number .pourcent {
  display: inline-block;
  vertical-align: bottom;
  font-size: $body_font_size;
}

.btn-toggle {
  $btn-toggle-width: 26px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 26px;
  height: $btn-toggle-width;
  font-size: 0;

  .fa {
    @include transition();
    @include border-radius();
    display: inline-block;
    vertical-align: top;
    height: $btn-toggle-width;
    width: $btn-toggle-width;
    padding: 0;
    margin: 0 0 0 5px;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    background-color: $body_color;
    color: $white;
    cursor: pointer;
  
    &:hover {
      background-color: $primary_color;
    }
  }
}