.spinner {
  @include animation(spin 1s infinite linear);
  @include keyframes(spin) {
    0%   { @include transform(rotate(0deg))}
    100% { @include transform(rotate(360deg))}
  };
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba($white, 0.2);
  border-right: 1.1em solid rgba($white, 0.2);
  border-bottom: 1.1em solid rgba($white, 0.2);
  border-left: 1.1em solid $white;
}

.spinner,
.spinner:after {
  @include border-radius(50%);
  width: 80px;
  height: 80px;
}