.btn {
  @include transition(all, .2s, $ease);
  @include border-radius($btn_height/2);
  @include ellipsis();
  position: relative;
  line-height: $btn_height - 4;
  height: $btn_height;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0 $gutter;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  font-family: $body_font;
  font-weight: $strong_weight;
  text-transform: uppercase;

  i {
    height: 100%;
    padding-right: $gutter/2;
    line-height: inherit;
  }

  &.primary {
    background-color: transparent;
    border-color: $primary_color;
    color: $primary_color;
    
    &.contrast {
      background-color: $white;
      border-color: $white;
    }

    &:hover {
      background-color: $primary_color;
      border-color: $primary_color;
      color: $white;
    }
    
    &.active {
      background-color: $primary_color;
      border-color: $primary_color;
      color: $white;
    }
  }
  
  &.secondary {
    background-color: transparent;
    border-color: $secondary_color;
    color: $secondary_color;
    
    &.contrast {
      background-color: $white;
      border-color: $white;
    }

    &:hover {
      background-color: $secondary_color;
      border-color: $secondary_color;
      color: $white;
    }
    
    &.active {
      background-color: $secondary_color;
      border-color: $secondary_color;
      color: $white;
    }
  }
  
  &.loading,

  &.success,

  &.error {
    color: transparent;
    
    &:hover {
      color: transparent;
      cursor: pointer;
    }
    
    &:after {
      @include icon();
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      line-height: 30px;
      text-align: center;
      font-size: 21px;
      color: $white;
    }
  }
  
  &.loading {
    background-color: $primary_color;

    &:hover {
      background-color: $primary_color;
    }

    &:after {
      @include animation(spin 3s infinite linear);
      @include keyframes(spin) {
        0%   { @include transform(rotate(0deg))}
        100% { @include transform(rotate(360deg))}
      };
      content: '\F021';
    }
  }
  
  &.success {
    background-color: $success_color;
    border-color: $success_color;;

    &:hover {
      background-color: $success_color;
    }

    &:after {
      content: '\F058';
    }
  }
  
  &.error {
      background-color: $error_color;
      border-color: $error_color;

      &:hover {
        background-color: $error_color;
      }

      &:after {
        content:'\F071';
      }
  }
}
