.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  line-height: $navbar_line_height;
  background-color: $navbar_bg;
  z-index: 99;
}

.navbar-container {
  position: relative;
  display: block;
  height: $navbar_height;
  padding: 0 $gutter;
  z-index: 55;

  @include breakpoint(sm) {
    height: $navbar_height_sm;
    line-height: $navbar_height_sm;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $border_color;
    content:"";
  }
}

.navbar-action {
  @include vertical-align();
  display: block;

  @include breakpoint(sm) {
    @include vertical-align-reset();
    height: 100%;
  }
}

// BRAND

.navbar-brand-link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.navbar-brand-text {
  display: inline-block;
  vertical-align: middle;
  font-size: $body_font_size + 5;
  font-family: $heading_font;
  font-weight: $heading_font_weight;
  margin-left: $gutter/2;
  text-transform: uppercase;
  color: $header_color;

  @include breakpoint(xs) {
    display: none;
  }

  &:hover {
    color: $primary_color;
  }
}

.navbar-brand-image {
  display: inline-block;
  max-height: $logo_max_height;
  vertical-align: middle;
}

// LINKS

.navbar-links {
  float: left;

  @include breakpoint(sm) {
    position: absolute;
    right: - $drawer_width - 20;
    top: $navbar_height_sm * 2 + 40;
    width: $drawer_width;
  }

  .searching & {
    display: none;

    @include breakpoint(sm) {
      display: block;
    }
  }
}

.navbar-links-list {
  float: left;
  margin: 0;
  padding: 0;
}

.navbar-links-list-item {
  float: left;
  margin-left: $gutter;
  list-style-type: none;

  @include breakpoint(sm) {
    width: 100%;
    margin: 0;
  }
}

.navbar-links .link {
  @include transition();
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  font-size: 0;
  font-family: $heading_font;
  font-weight: $heading_font_weight;
  text-transform: uppercase;
  color: $header_color;

  &:hover {
    color: $primary_color;
  }

  a {
    font-size: $body_font_size;
  }

  .icon-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
  }
  
  &.btn {
    @include border-radius(4px);
    padding: 0 $gutter/1.5;
    font-size: 16px;
    color: $primary_color;
    
    &:hover {
      color: $white;
    }
  }

  @include breakpoint(sm) {
    color: $black;
    line-height: $navbar_line_height - 15;
    padding: 0 15px;

    &:hover {
      color: $white;
      background-color: darken($primary_color,20%);
    }
  }
}

// TOGGLER

.navbar-toggler {
  position: relative;
  display: none;
  float: left;
  width: 30px;
  margin-left: $gutter;
  text-align: center;
  color: $header_color;
  background-color: transparent;

  @include breakpoint(sm) {
    display: block;
  }

  &:hover {
    color: $primary_color;
  }

  .searching & {
    display: none;

    @include breakpoint(sm) {
      display: block;
    }
  }

  .slide & {
    position: absolute;
    top: 0;
    right: - $drawer_width;
  }
}

.navbar-toggler-icon {
  cursor: pointer;
  line-height: inherit;
  font-size: $body_font_size + 5;

  .slide & {
    float: none;
  }
}

.navbar-toggler-open {
  display: inline-block;

  .slide & {
    display: none;
  }
}

.navbar-toggler-close {
  display: none;

  .slide & {
    display: inline-block;
  }
}

// MOBILE NAV

.navbar-title {
  display: none;
  position: absolute;
  top: 0;
  right: - $drawer_width - 20;
  width: $drawer_width;
  height: $navbar_height_sm;
  padding: 0 $gutter;
  background-color: darken($primary_color,20%);
  line-height: $navbar_height_sm;
  font-size: $body_font_size + 5;
  font-family: $heading_font;
  font-weight: $heading_font_weight;
  text-transform: uppercase;
  text-align: left;

  .slide & {
    display: block;
  }
}