.row {
  position: relative;
  display: block;
  max-width: $max_width;
  margin: auto;
  padding: 0 $gutter;
}

// PAGE

.page {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  
  .view-animate {
    height: 100%;
  }
  
  .view-animate.ng-enter, 
  .view-animate.ng-leave {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .view-animate.ng-leave {
    @include transition(all .25s ease-out);
  }

  .view-animate.ng-enter {
    @include transition(all .25s ease-out);
    @include opacity(0);
    top: 25px;
  }

  .view-animate.ng-enter.ng-enter-active {
    @include opacity(1);
    top: 0;
  }

  .view-animate.ng-leave.ng-leave-active {
    @include opacity(0);
    top: 25px;
  }
}

.page-container {
  @extend .clearfix;
  display: block;
  height: 100%;
  padding: $gutter 0 0;
  overflow-y: scroll;
}

// SECTION

.section {
  position: relative;
  display: block;
  margin-bottom: $gutter;
}

.section-container {
  position: relative;
  display: block;
  padding: $gutter;
  z-index: 1;
}

.section-container > .head {
  display: block;
}

.section-container > .body {
  display: block;
  margin-top: $gutter;
}

.section-container > .foot {
  display: block;
  margin-top: $gutter;
}

// TITLE

.title {
  font-size: 0;
  display: block;
}

.title h4 {
  vertical-align: middle;
}

.title .fa {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 21px;
}

// SIDE

.side-nav {
  position: fixed;
  top: 0;
  right: -$sidebar_width;
  height: 100%;
  width: $sidebar_width;
  background-color: $high_contrast;
  border-right: 1px solid $border_color;
  font-size: 16px;
  
  &.ng-enter, 
  &.ng-leave {
    @include transition(all,.2s,ease);
  }
  /* du début de l'entrée */
  &.ng-enter {
    @include opacity(0);
  }
  /* à la fin de l'entrée */
  &.ng-enter.ng-enter-active {
    @include opacity(1);
  }
  /* du début de la sortie */
  &.ng-leave {
    @include opacity(1);
  }
  /* à la fin de la sortie */
  &.ng-leave.ng-leave-active {
    @include opacity(0);
  }
  
}

.side-nav a {
  position: relative;
  display: block;
  height: 50px;
  padding-left: $gutter*2;
  color: $white;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 50px;
  
  &:hover {
    color: $primary_color;
    background-color: rgba($black,.1);
  }

  &.current {
    background-color: $primary_color;
    color: $white;

    &:after {
      @include transform(rotate(45deg));
      position: absolute;
      right: -15px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-color: $body_bg;
      content: '';
    }
  }
}

.side-nav .logo {
  height: $navbar_height;
  line-height: $navbar_height;
  background-color: lighten($black,10%);
  
  &:hover {
    background-color: lighten($black,10%);    
  }
}

.side-nav a span {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
}

.side-nav .fa {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  line-height: inherit;
  font-size: 18px;
}

// TABLE

.table {
  position: relative;
  display: block;
}

.table-row {
  display: block;
  padding: $gutter;
  border-bottom: 2px solid $white;
  font-size: 0;
  background-color: lighten($black, 90%);
  
  &:last-child {
    border-bottom: 0;
  }
}

.table-cell {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  .c2 & {
    width: 50%;
  }
}

// CTA

.cta {
  display: block;
  padding-top: $gutter;
}

.cta button {
  margin-right: $gutter/2;
}

// TILE

.tile {
  @include box-shadow();
  background-color: $white;
  padding: $gutter/2;
}
