.list {
  display: block;
  padding-top: $gutter;
  padding-left: $gutter;
  font-size: 0;
}

.list-item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 $gutter $gutter 0;
}

.list-link {
  @include box-shadow(0,2px,2px,rgba($black,.25));
  display: block;
  width: 100%;
  padding: $gutter/2;
  background-color: $white;
}

.list-thb-container {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: $gutter/4;
  background-color: $black;
  font-size: 0;
  text-align: center;
  overflow: hidden;

  &:before {
    display: inline-block;
    vertical-align: middle;
    padding-top: 75%;
    content: '';
  }
}

.list-thb-icon {
  @include opacity(0);
  @include transform(translateY(-20px));
  @include transition(all,.2s,ease);
  @include text-shadow(0px,2px,2px,rgba($black,.5));
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  font-size: 50px;
  color: $white;
  
  a:hover &,
  a:focus &{
    @include opacity(1);
    @include transform(translateY(0));
  }
}

.list-thb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

.list-title {
  @include transition(all,.2s,ease);
  color: $body_color;
  font-size: 16px;
  line-height: 20px;
  
  .list-link:hover & {
    color: $primary_color;
  }
}

.list-subtitle {
  font-size: $body_font_size - 4;
  line-height: $body_font_size + 6;
  color: $body_color;
  text-transform: capitalize;
}