.overlay-color-light,
.overlay-color-dark,
.primary-color-over,
.secondary-color-over,
.gradient-horizontal-over,
.gradient-vertical-over {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}

.overlay-color-light:after {
  background-color: $white;
}

.overlay-color-dark:after {
  background-color: $black;
}

.primary-color-over:after {
  background-color: $primary_color;
}

.secondary-color-over:after {
  background-color: $secondary_color;
}

.gradient-horizontal-over:after {
  background-color: $secondary_color;
}

.gradient-vertical-over:after {
  @include gradient-vertical($primary_color,$secondary_color);
}

.gradient-horizontal-over:after {
  @include gradient-horizontal($primary_color,$secondary_color);
}

.overlay-opacity-0:after {
  opacity: 0;
}

.overlay-opacity-1:after {
  opacity: 0.1;
}

.overlay-opacity-2:after {
  opacity: 0.2;
}

.overlay-opacity-3:after {
  opacity: 0.3;
}

.overlay-opacity-4:after {
  opacity: 0.4;
}

.overlay-opacity-5:after {
  opacity: 0.5;
}

.overlay-opacity-6:after {
  opacity: 0.6;
}

.overlay-opacity-7:after {
  opacity: 0.7;
}

.overlay-opacity-8:after {
  opacity: 0.8;
}

.overlay-opacity-9:after {
  opacity: 0.9;
}
