* {
  @include font-smoothing();
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  list-style: none;
}

html,body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $body_bg;
}

html {
  overflow-x: hidden;
  background-color: $high_contrast;
}

body {
  @include transition(all,.2s,ease);
  padding-top: $navbar_height;
  font-family: $body_font;
  font-weight: $body_font_weight;
  font-size: $body_font_size;
  line-height: $body_font_size + 5;
  color: $body_color;
  
  &.slide {
    @include transform(translateX(-$sidebar_width));
  }
}

h1, h2, h3, h4, h5 {
  display: inline-block;
  font-family: $heading_font;
  font-weight: $heading_font_weight;
}

h1 {
  font-size: $body_font_size + 25;
  line-height: $body_font_size + 30;

  @include breakpoint(xs) {
    font-size: $body_font_size + 15;
    line-height: $body_font_size + 15;
  }
}

h2 {
  font-size: $body_font_size + 20;
  line-height: $body_font_size + 25;

  @include breakpoint(xs) {
    font-size: $body_font_size + 15;
    line-height: $body_font_size + 15;
  }
}

h3 {
  font-size: $body_font_size + 15;
  line-height: $body_font_size + 20;
}

h4 {
  font-size: $body_font_size + 10;
  line-height: $body_font_size + 15;
}

h5 {
  font-size: $body_font_size + 5;
  line-height: $body_font_size + 10;
}

h6 {
  font-size: $body_font_size ;
  line-height: $body_font_size + 5;
}

a {
  display: inline-block;
  color: $primary_color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary_color_hover;
    cursor: pointer;
  }
}

p {
  display: block;
  font-size: $body_font_size;
}

li {
  display: block;
  font-size: $body_font_size;
}

address {
  display: block;
  font-size: $body_font_size;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: $strong_weight;
}

em {
  font-style: italic;
}

small {
  font-size: $body_font_size - 2;
  line-height: $body_font_size + 3;
}

.auth {
  color: darken($footer_color,40%);
}

.capitalize {
  text-transform: capitalize;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'] {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
}

textarea {
  max-width: 100%;
  min-height: 250px;
  padding: 10px;
  resize: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea {
  @include box-shadow(0, 0, 0, rgba($black,0));
  @include transition();
  @include border-radius();
  width: 100%;
  display: block;
  font-size: 14px;
  color: $form_color;
  background-color: $form_bg;
  font-family: $body_font;
  border: 0;

  &.disabled {
    @include opacity(.7);
  }
  
  @include placeholder {
    @include opacity(1);
    color: $placeholder_color;
  }
}

select {
  @include border-radius();
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: $body_font_size - 2;
  font-family: $body_font;
  color: transparent;
  text-shadow: 0 0 0 #000;
  text-indent: 5px;
  cursor: pointer;
  text-transform: capitalize;
  z-index: 1;
  
  option {
    text-indent: 5px;
    padding: 2px 0;
    text-transform: capitalize;
  }
}

.shadow {
  @include box-shadow();
}
