<div class='rating-modules-list'>
  <section 
  class='section overlay-color-light shadow rating-module' 
  ng-class='["rating-module-" + module.type_name]' 
  ng-repeat='module in rating.modules' 
  ng-switch='module.type_name' 
  ng-if='rating.modules && module.active == 1'>
    <rating-text 
    ng-switch-when='text' 
    module='module' 
    video='rating.video' 
    user='rating.user'
    />
    <rating-radio 
    ng-switch-when='radio' 
    module='module' 
    video='rating.video' 
    user='rating.user' 
    />
    <rating-slider 
    ng-switch-when='slider' 
    module='module' 
    video='rating.video' 
    user='rating.user' 
    />
  </section>
</div>