<div class='section-container'>
  <div class='head'>
    <div class='title'>
      <h5>{{ ratingRadio.module.title }}</h5>
      <div class='btn-toggle'>
        <i 
        class="fa fa-question-circle" 
        ng-if='ratingRadio.module.description'
        ng-click="ratingRadio.info=!ratingRadio.info"></i>
        <i 
        class="fa fa-pencil" 
        ng-click="ratingRadio.clickRate()"></i>
      </div>
    </div>
    <div class='subtitle' ng-if='ratingRadio.module.description && ratingRadio.info'>
      <small>{{ ratingRadio.module.description }}</small>
    </div>
  </div>
  <div class='body'>
    <div 
    class='rating-nav'
    ng-if='ratingRadio.nav'>
      <a 
      class='btn secondary'
      ng-class='ratingRadio.selected == radio.id ? "active" : ""'
      ng-repeat='radio in ratingRadio.radios'
      ng-click='ratingRadio.clickRadio(radio)'>
        {{ radio.name }}
        <i 
        class='fa fa-check' 
        ng-if='ratingRadio.selected == radio.id'></i>
      </a>
    </div>
    <div
    ng-if='!ratingRadio.nav' 
    class='rating-result'>
      <ul class='rating-radio-results-list'>
        <li ng-repeat='average in ratingRadio.module.average_rating'>
          <div class='result-name clearfix'>
            <span>{{ average.name }}</span>
            <span class='result-number right'>
              <span class='int'>{{ average.average_rate }}</span>
              <span class='pourcent'>%</span>
            </span>
          </div>
          <div class='result-container'>
            <div class='result-graph-container'>
              <span 
              class='result-graph' 
              style='width:{{ average.average_rate }}%'></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>