@charset "UTF-8";
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* GRADIENT HORIZONTAL */
/* GRADIENT VERTICAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX SHADOW */
/* BOX SIZING */
/* OPACITY */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* KEYFRAMES */
/* ANIMATION */
/* VERTICAL ALIGN */
/* PLACEHOLDER */
/* ELLIPSIS */
/* APP SHADOW */
/* BG IMAGE COVER */
/* FONT SMOOTHING */
@import url(http://fonts.googleapis.com/css?family=Roboto:900,900italic,700italic,700,500italic,500,400,400italic,300italic,300|Roboto+Condensed:400,700,700italic,400italic|Roboto+Slab:400,300,700);
.clearfix:before, .page-container:before, .login #nav:before, .upload-form .table:before, .rating-module-slider .nav-slider:before,
.clearfix:after,
.page-container:after,
.login #nav:after,
.upload-form .table:after,
.rating-module-slider .nav-slider:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .page-container:after, .login #nav:after, .upload-form .table:after, .rating-module-slider .nav-slider:after {
  clear: both; }

.clearfix, .page-container, .login #nav, .upload-form .table, .rating-module-slider .nav-slider {
  *zoom: 1; }

.text-center {
  text-align: center !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.left {
  float: left; }

.right {
  float: right; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.mj-gradient, .angular-multi-slider .bar, .rating-module .result-graph-container {
  background-color: #fe8901;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=$mjred, endColorstr=$mjorange);
  background-image: -moz-linear-gradient(left, #ff0000 15%, #fe8901 50%, #00e900 85%);
  background-image: linear-gradient(left, #ff0000 15%, #fe8901 50%, #00e900 85%);
  background-image: -webkit-linear-gradient(left, #ff0000 15%, #fe8901 50%, #00e900 85%);
  background-image: -o-linear-gradient(left, #ff0000 15%, #fe8901 50%, #00e900 85%);
  background-image: -ms-linear-gradient(left, #ff0000 15%, #fe8901 50%, #00e900 85%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(15%, #ff0000), color-stop(50%, #fe8901), color-stop(85%, #00e900)); }

.btn {
  -webkit-transition: all, 0.2s, ease;
  -khtml-transition: all, 0.2s, ease;
  -moz-transition: all, 0.2s, ease;
  -ms-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 36px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0 20px;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }
  .btn i {
    height: 100%;
    padding-right: 10px;
    line-height: inherit; }
  .btn.primary {
    background-color: transparent;
    border-color: #00e900;
    color: #00e900; }
    .btn.primary.contrast {
      background-color: #fff;
      border-color: #fff; }
    .btn.primary:hover {
      background-color: #00e900;
      border-color: #00e900;
      color: #fff; }
    .btn.primary.active {
      background-color: #00e900;
      border-color: #00e900;
      color: #fff; }
  .btn.secondary {
    background-color: transparent;
    border-color: #fe8901;
    color: #fe8901; }
    .btn.secondary.contrast {
      background-color: #fff;
      border-color: #fff; }
    .btn.secondary:hover {
      background-color: #fe8901;
      border-color: #fe8901;
      color: #fff; }
    .btn.secondary.active {
      background-color: #fe8901;
      border-color: #fe8901;
      color: #fff; }
  .btn.loading, .btn.success, .btn.error {
    color: transparent; }
    .btn.loading:hover, .btn.success:hover, .btn.error:hover {
      color: transparent;
      cursor: pointer; }
    .btn.loading:after, .btn.success:after, .btn.error:after {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "FontAwesome";
      display: inline-block;
      line-height: inherit;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      line-height: 30px;
      text-align: center;
      font-size: 21px;
      color: #fff; }
  .btn.loading {
    background-color: #00e900; }
    .btn.loading:hover {
      background-color: #00e900; }
    .btn.loading:after {
      -webkit-animation: spin 3s infinite linear;
      -khtml-animation: spin 3s infinite linear;
      -moz-animation: spin 3s infinite linear;
      -ms-animation: spin 3s infinite linear;
      -o-animation: spin 3s infinite linear;
      animation: spin 3s infinite linear;
      content: '\F021'; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spin {
  .btn.loading:after 0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .btn.loading:after 100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .btn.success {
    background-color: #00e900;
    border-color: #00e900; }
    .btn.success:hover {
      background-color: #00e900; }
    .btn.success:after {
      content: '\F058'; }
  .btn.error {
    background-color: #ff0000;
    border-color: #ff0000; }
    .btn.error:hover {
      background-color: #ff0000; }
    .btn.error:after {
      content: '\F071'; }

footer {
  display: block;
  background: #000; }

.columns {
  display: block;
  text-align: center;
  font-size: 0; }

.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px; }
  @media (max-width: 1020px) {
    .column {
      width: 100% !important;
      left: auto !important;
      right: auto !important; } }

.one {
  width: 8.333%; }

.two {
  width: 16.66%; }

.three {
  width: 25%; }

.four {
  width: 33.33%; }

.five {
  width: 41.66%; }

.six {
  width: 50%; }

.seven {
  width: 58.33%; }

.eight {
  width: 66.66%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33%; }

.eleven {
  width: 91.66%; }

.twelve {
  width: 100%; }

.pull-one {
  right: 8.333%; }

.pull-two {
  right: 16.66%; }

.pull-three {
  right: 25%; }

.pull-four {
  right: 33.33%; }

.pull-five {
  right: 41.66%; }

.pull-six {
  right: 50%; }

.pull-seven {
  right: 58.33%; }

.pull-eight {
  right: 66.66%; }

.pull-nine {
  right: 75%; }

.pull-ten {
  right: 83.33%; }

.pull-eleven {
  right: 91.66%; }

.pull-twelve {
  right: 100%; }

.push-one {
  left: 8.333%; }

.push-two {
  left: 16.66%; }

.push-three {
  left: 25%; }

.push-four {
  left: 33.33%; }

.push-five {
  left: 41.66%; }

.push-six {
  left: 50%; }

.push-seven {
  left: 58.33%; }

.push-eight {
  left: 66.66%; }

.push-nine {
  left: 75%; }

.push-ten {
  left: 83.33%; }

.push-eleven {
  left: 91.66%; }

.push-twelve {
  left: 100%; }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  line-height: 50px;
  background-color: #fff;
  z-index: 99; }

.navbar-container {
  position: relative;
  display: block;
  height: 60px;
  padding: 0 20px;
  z-index: 55; }
  @media (max-width: 1020px) {
    .navbar-container {
      height: 60px;
      line-height: 60px; } }
  .navbar-container:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    content: ""; }

.navbar-action {
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block; }
  @media (max-width: 1020px) {
    .navbar-action {
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      position: relative;
      top: auto;
      height: 100%; } }

.navbar-brand-link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0; }

.navbar-brand-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  text-transform: uppercase;
  color: #000; }
  @media (max-width: 720px) {
    .navbar-brand-text {
      display: none; } }
  .navbar-brand-text:hover {
    color: #00e900; }

.navbar-brand-image {
  display: inline-block;
  max-height: 35px;
  vertical-align: middle; }

.navbar-links {
  float: left; }
  @media (max-width: 1020px) {
    .navbar-links {
      position: absolute;
      right: -300px;
      top: 160px;
      width: 280px; } }
  .searching .navbar-links {
    display: none; }
    @media (max-width: 1020px) {
      .searching .navbar-links {
        display: block; } }

.navbar-links-list {
  float: left;
  margin: 0;
  padding: 0; }

.navbar-links-list-item {
  float: left;
  margin-left: 20px;
  list-style-type: none; }
  @media (max-width: 1020px) {
    .navbar-links-list-item {
      width: 100%;
      margin: 0; } }

.navbar-links .link {
  -webkit-transition: all 0.2s ease;
  -khtml-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  vertical-align: middle;
  font-size: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000; }
  .navbar-links .link:hover {
    color: #00e900; }
  .navbar-links .link a {
    font-size: 16px; }
  .navbar-links .link .icon-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px; }
  .navbar-links .link.btn {
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 0 13.33333px;
    font-size: 16px;
    color: #00e900; }
    .navbar-links .link.btn:hover {
      color: #fff; }
  @media (max-width: 1020px) {
    .navbar-links .link {
      color: #000;
      line-height: 35px;
      padding: 0 15px; }
      .navbar-links .link:hover {
        color: #fff;
        background-color: #008300; } }

.navbar-toggler {
  position: relative;
  display: none;
  float: left;
  width: 30px;
  margin-left: 20px;
  text-align: center;
  color: #000;
  background-color: transparent; }
  @media (max-width: 1020px) {
    .navbar-toggler {
      display: block; } }
  .navbar-toggler:hover {
    color: #00e900; }
  .searching .navbar-toggler {
    display: none; }
    @media (max-width: 1020px) {
      .searching .navbar-toggler {
        display: block; } }
  .slide .navbar-toggler {
    position: absolute;
    top: 0;
    right: -280px; }

.navbar-toggler-icon {
  cursor: pointer;
  line-height: inherit;
  font-size: 21px; }
  .slide .navbar-toggler-icon {
    float: none; }

.navbar-toggler-open {
  display: inline-block; }
  .slide .navbar-toggler-open {
    display: none; }

.navbar-toggler-close {
  display: none; }
  .slide .navbar-toggler-close {
    display: inline-block; }

.navbar-title {
  display: none;
  position: absolute;
  top: 0;
  right: -300px;
  width: 280px;
  height: 60px;
  padding: 0 20px;
  background-color: #008300;
  line-height: 60px;
  font-size: 21px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left; }
  .slide .navbar-title {
    display: block; }

.row {
  position: relative;
  display: block;
  max-width: 60%;
  margin: auto;
  padding: 0 20px; }

.page {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden; }
  .page .view-animate {
    height: 100%; }
  .page .view-animate.ng-enter,
  .page .view-animate.ng-leave {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .page .view-animate.ng-leave {
    -webkit-transition: all 0.25s ease-out;
    -khtml-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  .page .view-animate.ng-enter {
    -webkit-transition: all 0.25s ease-out;
    -khtml-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    top: 25px; }
  .page .view-animate.ng-enter.ng-enter-active {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    top: 0; }
  .page .view-animate.ng-leave.ng-leave-active {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    top: 25px; }

.page-container {
  display: block;
  height: 100%;
  padding: 20px 0 0;
  overflow-y: scroll; }

.section {
  position: relative;
  display: block;
  margin-bottom: 20px; }

.section-container {
  position: relative;
  display: block;
  padding: 20px;
  z-index: 1; }

.section-container > .head {
  display: block; }

.section-container > .body {
  display: block;
  margin-top: 20px; }

.section-container > .foot {
  display: block;
  margin-top: 20px; }

.title {
  font-size: 0;
  display: block; }

.title h4 {
  vertical-align: middle; }

.title .fa {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 21px; }

.side-nav {
  position: fixed;
  top: 0;
  right: -15%;
  height: 100%;
  width: 15%;
  background-color: #333333;
  border-right: 1px solid #e6e6e6;
  font-size: 16px;
  /* du début de l'entrée */
  /* à la fin de l'entrée */
  /* du début de la sortie */
  /* à la fin de la sortie */ }
  .side-nav.ng-enter, .side-nav.ng-leave {
    -webkit-transition: all, 0.2s, ease;
    -khtml-transition: all, 0.2s, ease;
    -moz-transition: all, 0.2s, ease;
    -ms-transition: all, 0.2s, ease;
    -o-transition: all, 0.2s, ease;
    transition: all, 0.2s, ease; }
  .side-nav.ng-enter {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  .side-nav.ng-enter.ng-enter-active {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  .side-nav.ng-leave {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  .side-nav.ng-leave.ng-leave-active {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }

.side-nav a {
  position: relative;
  display: block;
  height: 50px;
  padding-left: 40px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 50px; }
  .side-nav a:hover {
    color: #00e900;
    background-color: rgba(0, 0, 0, 0.1); }
  .side-nav a.current {
    background-color: #00e900;
    color: #fff; }
    .side-nav a.current:after {
      -webkit-transform: rotate(45deg);
      -khtml-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      right: -15px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-color: #222;
      content: ''; }

.side-nav .logo {
  height: 60px;
  line-height: 60px;
  background-color: #1a1a1a; }
  .side-nav .logo:hover {
    background-color: #1a1a1a; }

.side-nav a span {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit; }

.side-nav .fa {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  line-height: inherit;
  font-size: 18px; }

.table {
  position: relative;
  display: block; }

.table-row {
  display: block;
  padding: 20px;
  border-bottom: 2px solid #fff;
  font-size: 0;
  background-color: #e6e6e6; }
  .table-row:last-child {
    border-bottom: 0; }

.table-cell {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }
  .c2 .table-cell {
    width: 50%; }

.cta {
  display: block;
  padding-top: 20px; }

.cta button {
  margin-right: 10px; }

.tile {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -khtml-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 10px; }

.list {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 0; }

.list-item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 20px 20px 0; }

.list-link {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fff; }

.list-thb-container {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  background-color: #000;
  font-size: 0;
  text-align: center;
  overflow: hidden; }
  .list-thb-container:before {
    display: inline-block;
    vertical-align: middle;
    padding-top: 75%;
    content: ''; }

.list-thb-icon {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -khtml-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all, 0.2s, ease;
  -khtml-transition: all, 0.2s, ease;
  -moz-transition: all, 0.2s, ease;
  -ms-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  font-size: 50px;
  color: #fff; }
  a:hover .list-thb-icon,
  a:focus .list-thb-icon {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.list-thb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-height: 100%; }

.list-title {
  -webkit-transition: all, 0.2s, ease;
  -khtml-transition: all, 0.2s, ease;
  -moz-transition: all, 0.2s, ease;
  -ms-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
  color: #404040;
  font-size: 16px;
  line-height: 20px; }
  .list-link:hover .list-title {
    color: #00e900; }

.list-subtitle {
  font-size: 12px;
  line-height: 22px;
  color: #404040;
  text-transform: capitalize; }

.overlay-color-light,
.overlay-color-dark,
.primary-color-over,
.secondary-color-over,
.gradient-horizontal-over,
.gradient-vertical-over {
  position: relative; }
  .overlay-color-light:after,
  .overlay-color-dark:after,
  .primary-color-over:after,
  .secondary-color-over:after,
  .gradient-horizontal-over:after,
  .gradient-vertical-over:after {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.overlay-color-light:after {
  background-color: #fff; }

.overlay-color-dark:after {
  background-color: #000; }

.primary-color-over:after {
  background-color: #00e900; }

.secondary-color-over:after {
  background-color: #fe8901; }

.gradient-horizontal-over:after {
  background-color: #fe8901; }

.gradient-vertical-over:after {
  background-image: -webkit-linear-gradient(top, #00e900 0%, #fe8901 100%);
  background-image: -o-linear-gradient(top, #00e900 0%, #fe8901 100%);
  background-image: linear-gradient(to bottom, #00e900 0%, #fe8901 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00E900', endColorstr='#FFFE8901', GradientType=0); }

.gradient-horizontal-over:after {
  background-image: -webkit-linear-gradient(left, #00e900 0%, #fe8901 100%);
  background-image: -o-linear-gradient(left, #00e900 0%, #fe8901 100%);
  background-image: linear-gradient(to right, #00e900 0%, #fe8901 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00E900', endColorstr='#FFFE8901', GradientType=1); }

.overlay-opacity-0:after {
  opacity: 0; }

.overlay-opacity-1:after {
  opacity: 0.1; }

.overlay-opacity-2:after {
  opacity: 0.2; }

.overlay-opacity-3:after {
  opacity: 0.3; }

.overlay-opacity-4:after {
  opacity: 0.4; }

.overlay-opacity-5:after {
  opacity: 0.5; }

.overlay-opacity-6:after {
  opacity: 0.6; }

.overlay-opacity-7:after {
  opacity: 0.7; }

.overlay-opacity-8:after {
  opacity: 0.8; }

.overlay-opacity-9:after {
  opacity: 0.9; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  list-style: none; }

html, body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #222; }

html {
  overflow-x: hidden;
  background-color: #333333; }

body {
  -webkit-transition: all, 0.2s, ease;
  -khtml-transition: all, 0.2s, ease;
  -moz-transition: all, 0.2s, ease;
  -ms-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #404040; }
  body.slide {
    -webkit-transform: translateX(-15%);
    -khtml-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%); }

h1, h2, h3, h4, h5 {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 41px;
  line-height: 46px; }
  @media (max-width: 720px) {
    h1 {
      font-size: 31px;
      line-height: 31px; } }

h2 {
  font-size: 36px;
  line-height: 41px; }
  @media (max-width: 720px) {
    h2 {
      font-size: 31px;
      line-height: 31px; } }

h3 {
  font-size: 31px;
  line-height: 36px; }

h4 {
  font-size: 26px;
  line-height: 31px; }

h5 {
  font-size: 21px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 21px; }

a {
  display: inline-block;
  color: #00e900;
  text-decoration: none; }
  a:hover, a:focus {
    color: #00b600;
    cursor: pointer; }

p {
  display: block;
  font-size: 16px; }

li {
  display: block;
  font-size: 16px; }

address {
  display: block;
  font-size: 16px; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

small {
  font-size: 14px;
  line-height: 19px; }

.auth {
  color: #999999; }

.capitalize {
  text-transform: capitalize; }

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'] {
  height: 40px;
  line-height: 40px;
  text-indent: 10px; }

textarea {
  max-width: 100%;
  min-height: 250px;
  padding: 10px;
  resize: none; }

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea {
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  -webkit-transition: all 0.2s ease;
  -khtml-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  display: block;
  font-size: 14px;
  color: #404040;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  border: 0; }
  input[type='text'].disabled,
  input[type='email'].disabled,
  input[type='password'].disabled,
  input[type='url'].disabled,
  textarea.disabled {
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -webkit-opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    -ms-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7; }
  input[type='text']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  input[type='url']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    color: gray; }
  input[type='text']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  input[type='url']:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Firefox 18- */
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    color: gray; }
  input[type='text']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  input[type='url']::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    color: gray; }
  input[type='text']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  input[type='url']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    color: gray; }

select {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: transparent;
  text-shadow: 0 0 0 #000;
  text-indent: 5px;
  cursor: pointer;
  text-transform: capitalize;
  z-index: 1; }
  select option {
    text-indent: 5px;
    padding: 2px 0;
    text-transform: capitalize; }

.shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -khtml-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }

.search-bar {
  display: block;
  position: fixed;
  top: 10px;
  left: 50%;
  width: 500px;
  height: 40px;
  margin-left: -250px;
  padding-right: 40px;
  z-index: 99; }

input.search-input {
  -webkit-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #00e900;
  border-right: 0; }

.search-btn {
  -webkit-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  line-height: 40px;
  background-color: #00e900;
  color: #fff;
  text-align: center;
  font-size: 21px;
  cursor: pointer; }

body.login {
  padding: 0;
  background-color: #e6e6e6; }

.login {
  color: #000; }

.login form {
  padding: 20px;
  margin-top: 10px; }

.login p,
.login a {
  font-size: 14px;
  color: #404040; }

.login input[type='text'],
.login input[type='email'],
.login input[type='password'],
.login input[type='url'] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px; }
  .login input[type='text']:focus,
  .login input[type='email']:focus,
  .login input[type='password']:focus,
  .login input[type='url']:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -khtml-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -ms-box-shadow: 0 0 0 transparent;
    -o-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent; }

.login .submit .button {
  -webkit-transition: all 0.1s ease;
  -khtml-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 transparent;
  -khtml-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  position: relative;
  line-height: 40px;
  height: 40px;
  min-width: 120px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0 20px;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: none; }
  .login .submit .button.button-primary {
    background-color: #00e900;
    color: #fff; }
    .login .submit .button.button-primary:hover {
      background-color: #00d000; }

.login h1 {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -khtml-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  display: block;
  background-color: #fff; }

.login h1 a {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../img/logo-color.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.login #login_error,
.login .message {
  border-left-color: #00e900;
  font-size: 14px;
  margin-top: 10px; }

.login #backtoblog {
  display: none; }

.login #nav {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -khtml-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: block;
  margin: 10px 0 0;
  padding: 0;
  background-color: #fff;
  font-size: 0;
  overflow: hidden; }
  .login #nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #fe8901;
    color: #fff;
    font-size: 16px;
    font-weight: 700; }
    .login #nav a:first-child {
      border-bottom: 1px solid #e57b01; }
    .login #nav a:last-child {
      border-top: 1px solid #fea134; }
    .login #nav a:hover {
      background-color: #e57b01;
      color: #fff; }

.vendor-menu {
  display: block;
  padding: 20px;
  background-color: #00e900; }

.vendor-menu h2 {
  display: block;
  color: #fff;
  text-align: center; }

.vendor-list {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 0; }

.vendor-item {
  display: inline-block;
  vertical-align: middle;
  padding: 20px; }

.vendor-link {
  -webkit-transition: all, 0.2s, eaase;
  -khtml-transition: all, 0.2s, eaase;
  -moz-transition: all, 0.2s, eaase;
  -ms-transition: all, 0.2s, eaase;
  -o-transition: all, 0.2s, eaase;
  transition: all, 0.2s, eaase;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background-color: #fff; }
  .vendor-link:hover {
    -webkit-transform: scale(1.25);
    -khtml-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }

.vendor-link .fa {
  display: block;
  font-size: 45px;
  line-height: inherit; }

.vendor-videos {
  display: block;
  padding: 20px;
  background-color: #d0ffd0; }

.upload-form label {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
  position: relative;
  display: block;
  font-size: 13px; }

.upload-form {
  position: relative;
  display: block;
  background-color: #e6e6e6; }

.upload-form .table {
  display: block;
  font-size: 0; }

.upload-form .table .left {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.upload-form .table .right {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  border-left: 2px solid #fff; }

.upload-form .cta {
  background-color: #fff; }

.upload-form .additional-info p {
  font-size: 14px; }

.watch .main {
  float: left;
  width: 70%; }

.watch .side {
  float: right;
  width: 30%;
  padding-left: 20px; }

.custom-message {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -khtml-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  width: 300px;
  padding: 20px;
  z-index: 9999;
  background-color: #fff;
  /* du début de l'entrée */
  /* à la fin de l'entrée */
  /* du début de la sortie */
  /* à la fin de la sortie */ }
  .custom-message:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    display: inline-block;
    line-height: inherit;
    position: absolute;
    top: 18px;
    left: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: inherit; }
  .custom-message.error {
    color: #ff0000; }
    .custom-message.error:before {
      content: "\F119"; }
  .custom-message.success {
    color: #00e900; }
    .custom-message.success:before {
      content: "\F164"; }
  .custom-message.animate-if.ng-enter, .custom-message.animate-if.ng-leave {
    -webkit-transition: all, 0.2s, ease;
    -khtml-transition: all, 0.2s, ease;
    -moz-transition: all, 0.2s, ease;
    -ms-transition: all, 0.2s, ease;
    -o-transition: all, 0.2s, ease;
    transition: all, 0.2s, ease; }
  .custom-message.animate-if.ng-enter {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(200px);
    -khtml-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px); }
  .custom-message.animate-if.ng-enter.ng-enter-active {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .custom-message.animate-if.ng-leave {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -khtml-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .custom-message.animate-if.ng-leave.ng-leave-active {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: translateY(200px);
    -khtml-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px); }

.custom-message span {
  display: inline-block;
  max-width: 100%;
  padding-left: 30px;
  margin: 0;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #000;
  word-wrap: break-word; }

.custom-message .exit {
  position: absolute;
  right: 3px;
  top: 2px;
  font-size: 18px;
  cursor: pointer;
  color: #cccccc; }

.rating-module-radio {
  text-align: left; }

.rating-radio-results-list > li {
  display: block;
  position: relative;
  text-align: left; }

.rating-module-radio .btn {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  text-align: left;
  color: #222 !important;
  border-color: #222 !important; }
  .rating-module-radio .btn:last-child {
    margin-bottom: 0; }

.rating-module .btn .fa {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px; }

.rating-module.rating-module-radio .result-name {
  font-size: 13px;
  text-transform: capitalize; }

.rating-module.rating-module-radio .result-number .int {
  font-size: 13px; }

.rating-module.rating-module-radio .result-number .pourcent {
  font-size: 13px; }

.rating-module-slider .nav-slider {
  position: relative;
  display: block; }

.angular-multi-slider {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  margin: 0;
  overflow: hidden; }

.angular-multi-slider div {
  white-space: nowrap;
  position: absolute; }

.angular-multi-slider .bar {
  position: relative;
  width: 100%;
  height: 6px;
  margin-top: 17px; }
  .angular-multi-slider .bar:after {
    position: absolute;
    left: 0;
    top: 0;
    content: ''; }

.angular-multi-slider .handle {
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: "background-color", 0.2s, ease;
  -khtml-transition: "background-color", 0.2s, ease;
  -moz-transition: "background-color", 0.2s, ease;
  -ms-transition: "background-color", 0.2s, ease;
  -o-transition: "background-color", 0.2s, ease;
  transition: "background-color", 0.2s, ease;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0;
  background-color: #fff;
  z-index: 999; }
  .angular-multi-slider .handle:after {
    content: '';
    width: 999px;
    height: 6px;
    position: absolute;
    left: 20px;
    top: 7px;
    background-color: #222; }
  .angular-multi-slider .handle:before {
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0.5);
    -khtml-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    background-color: #e6e6e6; }

.angular-multi-slider .handle:hover + .bubble,
.angular-multi-slider .handle:focus + .bubble,
.angular-multi-slider .handle.grab + .bubble,
.angular-multi-slider .handle:hover,
.angular-multi-slider .handle:focus,
.angular-multi-slider .handle.grab {
  z-index: 99; }

.angular-multi-slider .bubble {
  -webkit-transition: "top", 0.1s, ease;
  -khtml-transition: "top", 0.1s, ease;
  -moz-transition: "top", 0.1s, ease;
  -ms-transition: "top", 0.1s, ease;
  -o-transition: "top", 0.1s, ease;
  transition: "top", 0.1s, ease;
  display: none;
  cursor: default;
  top: -36px;
  padding: 1px 3px;
  z-index: 100; }

.angular-multi-slider-key .key span,
.angular-multi-slider div.bubble.active {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 3px 8px; }

.angular-multi-slider .limit {
  display: none; }

.angular-multi-slider-key .key span {
  border: 1px solid #000; }

.rating-module.rating-module-slider .result-container {
  margin-top: 0; }

.rating-module-text textarea:focus + .cta {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  max-height: 100px; }

.rating-module-text .textarea-container {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: block;
  background-color: #fff;
  text-align: right;
  overflow: hidden; }

.rating-module-text textarea {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 10px;
  min-height: 125px;
  text-align: left;
  background-color: #f2f2f2; }

.rating-module-text .cta {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transition: all, 0.2s, ease;
  -khtml-transition: all, 0.2s, ease;
  -moz-transition: all, 0.2s, ease;
  -ms-transition: all, 0.2s, ease;
  -o-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
  max-height: 0;
  display: block;
  padding: 0;
  border-top: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  text-align: right;
  overflow: hidden; }

.rating-module-text .btn {
  margin: 10px;
  padding: 0 13.33333px;
  height: 30px;
  line-height: 28px; }

.rating-module {
  -webkit-transition: all 0.2s ease;
  -khtml-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  height: auto;
  max-height: 9999px;
  margin-bottom: 20px; }

.rating-module .result-container {
  display: block;
  position: relative;
  height: 40px;
  padding-top: 17px;
  margin-top: -15px; }

.rating-module .title {
  position: relative;
  padding-right: 63px; }

.rating-module .subtitle {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: #eee; }

.rating-module .result-graph-container {
  position: relative;
  display: block;
  height: 6px;
  width: 100%;
  overflow: hidden; }

.rating-module .result-graph {
  display: block;
  position: relative;
  height: 6px; }
  .rating-module .result-graph:after {
    position: absolute;
    left: 100%;
    top: 0;
    width: 99999px;
    height: 6px;
    content: '';
    background-color: #222; }

.rating-module .result-number {
  display: inline-block;
  line-height: inherit;
  font-size: 0; }

.rating-module .result-number .int {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 400;
  font-size: 16px; }

.rating-module .result-number .pourcent {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px; }

.btn-toggle {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 26px;
  height: 26px;
  font-size: 0; }
  .btn-toggle .fa {
    -webkit-transition: all 0.2s ease;
    -khtml-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    height: 26px;
    width: 26px;
    padding: 0;
    margin: 0 0 0 5px;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    background-color: #404040;
    color: #fff;
    cursor: pointer; }
    .btn-toggle .fa:hover {
      background-color: #00e900; }

.spinner {
  -webkit-animation: spin 1s infinite linear;
  -khtml-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #fff; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spin {
  .spinner 0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .spinner 100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinner,
.spinner:after {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px; }

.video-player {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
