<div class='page-container'>
  <main class='row main'>
    <section class='section overlay-color-light shadow' ng-if='vm.user'>
      <div class='section-container'>
        <div class='head'>
          <div class='title'>
            <i class='fa fa-smile-o' aria-hidden='true'></i>
            <h4>Profile</h4>
          </div>
        </div>
        <div class='body'>
          <div class='table c2'>
            <ul class='table-row'>
              <li class='table-cell'>
                <label>Username <small><em>(Usernames cannot be changed)</em></small>:</label>
              </li>
              <li class='table-cell'>
                <input 
                type='text' 
                ng-model='vm.user.user_login' 
                value='{{vm.user.user_login}}' 
                name='user_login' 
                ng-disabled='true' 
                class='disabled' 
                />
              </li>
            </ul>
            <ul class='table-row'>
              <li class='table-cell'>
                <label>Email:</label>
              </li>
              <li class='table-cell'>
                <input 
                type='text' 
                ng-model='vm.user.user_email' 
                value='{{vm.user.user_email}}' 
                name='display_name'
                />
              </li>
            </ul>
            <ul class='table-row'>
              <li class='table-cell'>
                <label>Password:</label>
              </li>
              <li class='table-cell'>
                <a 
                class='btn primary contrast' 
                ng-click='vm.resetPassword()'>
                  Reset Password
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class='foot'>
          <btn title='update' class='btn primary' event='vm.updateProfile(vm.user)' />
        </div>
      </div>
    </section>
  </main>
</div>