<div class='section-container'>
  <div class='head'>
    <div class='title'>
      <h5>
        <span>{{ ratingSlider.module.title }}</span>
        <div class='result-number'>
          <span ng-if='!ratingSlider.nav'>
            <span class='int'>{{ ratingSlider.module.average_rating }}</span>
            <span class='pourcent'>%</span>
          </span>
          <span ng-if='ratingSlider.nav'>
            <span class='int'>{{ ratingSlider.sliders[0].value }}</span>
            <span class='pourcent'>%</span>
          </span>
        </div>
      </h5>
      <div class='btn-toggle'>
        <i 
        class='fa fa-question-circle'
        ng-if='ratingSlider.module.description' 
        ng-click='ratingSlider.info=!ratingSlider.info'></i>
        <i 
        class='fa fa-pencil' 
        ng-click='ratingSlider.clickRate()'></i>
      </div>
    </div>
    <div class='subtitle' ng-if='ratingSlider.info'>
      <small>{{ ratingSlider.module.description }}</small>
    </div>
  </div>
  <div class='body'>
    <div 
    class='nav-slider'
    ng-if='ratingSlider.nav'>
      <multi-slider 
      floor='0' 
      step='1' 
      ceiling='100' 
      bubbles='false' 
      ng-model='ratingSlider.sliders'>
      </multi-slider>
    </div>
    <div
    ng-if='!ratingSlider.nav' 
    class='rating-result'>
      <div class='result-container'>
        <div class='result-graph-container'>
          <span class='result-graph' style='width:{{ ratingSlider.module.average_rating }}%'></span>
        </div>
      </div>
    </div>
  </div>
</div>