.search-bar {
  display: block;
  position: fixed;
  top: 10px;
  left: 50%;
  width: 500px;
  height: 40px;
  margin-left: -250px;
  padding-right: 40px;
  z-index: 99;
}

input.search-input {
  @include border-radius(5px 0 0 5px);
  border: 1px solid $primary_color;
  border-right: 0;
}

.search-btn {
  @include border-radius(0 5px 5px 0);
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  line-height: 40px;
  background-color: $primary_color;
  color: $white;
  text-align: center;
  font-size: 21px;
  cursor: pointer;
}