body.login {
  padding: 0;
	background-color: $contrast;
}

.login {
  color: $black;
}

.login form {
  padding: $gutter;
  margin-top: $gutter/2;
}

.login p,
.login a {
  font-size: 14px;
  color: lighten($black,25);
}

.login input[type='text'],
.login input[type='email'],
.login input[type='password'],
.login input[type='url'] {
  border: 1px solid rgba($black,0.25);
  color: rgba($black,.8);
  font-size: $body_font_size;
  
  &:focus {
    @include box-shadow(0,0,0,transparent);
  };
}

.login .submit .button {
  @include transition(all .1s $ease);
  @include border-radius($btn_height/2);
  @include box-shadow(0, 0, 0, transparent);
  position: relative;
  line-height: $btn_height;
  height: $btn_height;
  min-width: 120px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0 $gutter;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  font-family: $body_font;
  font-weight: $strong_weight;
  text-transform: capitalize;
  text-shadow: none;
  
  &.button-primary {
    background-color: $primary_color;
    color: $white;

    &:hover {
      background-color: darken($primary_color,5%);
    }
  }
}

.login h1 {
  @include box-shadow();
  display: block;
  background-color: $white;
}

.login h1 a {
	width: 200px;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../img/logo-color.png);
  background-position: center;
  background-repeat: no-repeat;
	background-size: 100%;
}

.login #login_error, 
.login .message {
  border-left-color: $primary_color;
  font-size: $body_font_size - 2;
  margin-top: $gutter/2;
}

.login #backtoblog {
  display: none;
}

.login #nav {
  @include box-shadow();
  @include border-radius();
  @extend .clearfix;
  position: relative;
  display: block;
  margin: $gutter/2 0 0;
  padding: 0;
  background-color: $white;
  font-size: 0;
  overflow: hidden;
  
  a {
    display: block;
    text-align: center;
    padding: $gutter/2 0;
    background-color: $secondary_color;
    color: $white;
    font-size: 16px;
    font-weight: 700;

    &:first-child {
      border-bottom: 1px solid darken($secondary_color,5%);
    }
    
    &:last-child {
      border-top: 1px solid lighten($secondary_color,10%);
    }

    &:hover {
      background-color: darken($secondary_color,5%);
      color: $white;
    }
  }
}

