// VENDOR MENU

.vendor-menu {
  display: block;
  padding: $gutter;
  background-color: $primary_color;
}

.vendor-menu h2 {
  display: block;
  color: $white;
  text-align: center;
}

.vendor-list {
  display: block;
  text-align: center;
  padding: $gutter;
  font-size: 0;
}

.vendor-item {
  display: inline-block;
  vertical-align: middle;
  padding: $gutter;
}

.vendor-link {
  @include transition(all,.2s,eaase);
  @include border-radius(50%);
  position: relative;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background-color: $white;
  
  &:hover {
    @include transform(scale(1.25));
  }
}

.vendor-link .fa {
  display: block;
  font-size: 45px;
  line-height: inherit
}

// VENDOR VIDEOS

.vendor-videos {
  display: block;
  padding: $gutter;
  background-color: lighten($primary_color,45%);
}

// UPLOAD FORM

.upload-form label {
  @include opacity(.5);
  position: relative;
  display: block;
  font-size: 13px;
}

.upload-form {
  position: relative;
  display: block;
  background-color: lighten($black, 90%);
}
  
.upload-form .table {
  @extend .clearfix;
  display: block;
  font-size: 0;
}

.upload-form .table .left {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.upload-form .table .right {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  border-left: 2px solid $white;
}

.upload-form .cta {
  background-color: $white;
}

.upload-form .additional-info p {
  font-size: 14px;
}
