<div class='page-container watch'>
    <div class='main'>
      <div class="section overlay-color-light shadow">
        <div class="section-container no-padding">
          <video-player vidid='{{ vm.video.vidid }}' vidpro='{{ vm.video.vidpro }}'></video-player>
        </div>
      </div>
    </div>
    <div class='side'>
      <rating-modules ng-if='vm.video' video='vm.video' user='app.user.loggedIn'></rating-modules>
    </div>
  </section>
</div>